//Menu Button
.menu-btn{
     position: absolute;
     right: 35px;
     top:35px;
     z-index: 3;
     @include easeOut;
     cursor: pointer;

.btn-line{
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;
}

   &.close{
       transform: rotate(180deg);

       .btn-line{

          &:nth-child(1){
              transform: rotate(45deg) translate(5px,5px);
          }
          &:nth-child(2){
              opacity: 0;
          }
          &:nth-child(3){
              transform: rotate(-45deg) translate(7px,-6px);
          }
       }
   }
}

//Menu Overlay

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;   

    &.show{
        visibility: visible;
    }
    &-branding,
    &-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
     
 


    }
    &-nav{
        padding: 0;
        margin: 0;
        background: darken($primary-color,5);
        transform: translate3d(0,-100%,0);
        @include easeOut;

    
    &.show{
       transform: translate3d(0,0,0);
    }
    }
    &-branding{
        background: $primary-color;
        transform: translate3d(0,100%,0);
        @include easeOut;
    
    &.show{
            transform:translate3d(0,0,0);
      
        }
    .portrait{
            width: 250px;
            height: 250px;
            background: url('https://icon-library.com/images/suit-icon/suit-icon-4.jpg') center;
            background-size: cover;
            border-radius: 50%;
            border: 3px solid $secondary-color;
        }
    }
        .nav-item{
            transform: translate3d(600px,0,0);
            @include easeOut;

        &.show{
          transform: translate3d(0,0,0);
        }
        &.current > a{
            color: $secondary-color;
        }   
            
        }
        .nav-link{
            display: inline-block;
            position: relative;
            font-size: 30px;
            font-weight: 300;
            text-transform: uppercase;
            text-decoration: none;
            @include easeOut;
            padding: 1rem 0;
            color: set-text-color($primary-color);

            &:hover{
               color:$secondary-color;
            } 
        }

    }
    
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}){
        transition-delay: $x * 0.5s;

    }
}










